extends layout
block main
    h1 Регистрация
    div
        a(href="/signin") Авторизоваться
    form(method="post")
        div email:
            input(name="email")
        div Password:
            input(name="password")
        div
            button(type="submit") Submit

